/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

/*body{
  background-image: url("http://giottojs.org/examples/trianglify.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}*/

#background { position: fixed; z-index: -1}

#bill-container{
 text-align: center;
}

#billy-holder{
  text-align: center;
  border: 5px white solid;
  border-radius: 5%;
  height: 600px;
}

#login-btn{ background: none; background-color: rgba(255,255,255,0.3); border: 3px white solid; box-shadow:2px 2px #AAAAAA; color: white; font-size: 2em; text-shadow: 2px 2px #AAAAAA;}

#login-btn:hover{ background: none; background-color: rgba(255,255,255,0.3); border: 3px white solid; box-shadow:2px 2px #AAAAAA; color: white; font-size: 2em; text-shadow: 2px 2px #AAAAAA; letter-spacing: 2px;}

#login-btn:active:focus{ background: none; background-color: rgba(255,255,255,0.3); border: 3px white solid; color: white; font-size: 2em; text-shadow: 2px 2px #AAAAAA; letter-spacing: 2px;}



#height_spacer1{
    height:100px;
}
#height_spacer2{
    height:25%;
}
#height_spacer3{
    height:10%;
}

#billy{
 font-size: 200px;
 text-shadow: 4px 4px #161d31;
 color: white;
 font-family: 'Indie Flower', cursive;
}
