/* Bill Card's Items Pane */
.card-header { height:56px; }
.card-block { height: 330px; overflow:scroll; ;padding-bottom: 20px; }
.items_list { overflow-y: scroll; overflow-x: hidden; height: 270px; }

#newBillDesc {width: 100%;}
#dashboard-title {font-size: 100px;font-family: 'Indie Flower', cursive; color: white; text-align: left; text-shadow: 4px 4px #161d31;}
.imgHolder { padding: 0; margin: 0; width:100%; height:200px; position: relative; }
.cardImg { width: 100%; height: 100%; object-fit: fill;}
.card-title { display: block; position: absolute; left: 0em; bottom: 0em; margin:0 !important;  padding: 5px 10px 5px 10px ; background-color: rgba(0, 0, 0, 0.7); font-size: 20px; font-weight: bold; color: white;}


/*Tag Payee Frame*/
.items_list { position: relative; overflow-y: hidden}
.tagPayeeItemFrame { height: 100%; width: 100%; position: absolute; background-color: white; top: 0; overflow: scroll; padding: 5px;
                 transition-duration: 0.8s;
                 transition-timing-function: ease;
                 transform: translateX(100vh);
                  }

.tagPayeeItemFrame-show { transform: translateX(0);
                      transition-duration: 1s;
                      transition-timing-function: ease; }

/*Payment*/
.paid_icon { text-align: center; color: #3ED912}
